<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../css/estiloPaginas.css" type="text/css" rel="stylesheet">
    <link href="./../../css/estiloAdmin.css" type="text/css" rel="stylesheet">
    <link href="./../../css/estiloForm.css" type="text/css" rel="stylesheet">
    <title>Aplicación del bus</title>
</head>

<body>
    <div class="supercontenedor">
        <div class="contenedor">
            <h1>Editando</h1>
            <form method="post" th:action="@{/paradas/editar/submit}" th:object="${paradaForm}">
                <input type="hidden" th:field="*{idparada}" />
                <label>Denominación corta: </label><input type="text" th:field="*{denominacion}" />
                <input type="submit" value="Editar parada" />
            </form>
            <a href="/paradas">
                <div class="boton">
                    Volver
                </div>
            </a>
        </div>
    </div>
</body>

</html>