<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/estiloPaginas.css" type="text/css" rel="stylesheet">
    <link href="./css/estiloInicio.css" type="text/css" rel="stylesheet">
    <title>Aplicación de bus</title>
</head>

<body>
    <div class="supercontenedor">
        <div class="contenedor">
            <a href="/mantenimiento">
                <div class="botonGrande">
                    Mantenimiento de líneas
                </div>
            </a>
            <a href="/salir">
                <div class="botonGrande">
                    Salir de la aplicación
                </div>
            </a>
        </div>
    </div>
</body>

</html>