.supercontenedor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    width: 250px;
}

.boton {
    height: 120px;
    width: 450px;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    line-height: 70px;
}