<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación del bus</title>
</head>

<body>
    <table>
        <thead>
            <th>Denominación Corta</th>
            <th>Denominación Larga</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            <tr th:each="linea : ${listaLineas}">
                <td th:text="${linea.denCorta}"></td>
                <td th:text="${linea.denLarga}"></td>
                <td>
                    <a th:href="@{/lineas/editar/{id}(id=${linea.idlinea})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/lineas/eliminar/{id}(id=${linea.idlinea})}">Eliminar</a>
                </td>
                <td>
                    <a th:href="@{lineas/paradas/{id}(id=${linea.idlinea})}">Ver paradas</a>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="boton">
        <a href="/lineas/insertar">Insertar una nueva línea</a>
    </span>
</body>

</html>