<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/estiloPaginas.css" type="text/css" rel="stylesheet">
    <link href="./css/estiloAdmin.css" type="text/css" rel="stylesheet">
    <title>Aplicación del bus</title>
</head>
<body>
    <div class="supercontenedor">
        <div class="contenedor">
            <h1>Nueva línea</h1>
            <form method="post" th:action="@{/lineas/insertar/submit}" th:object="${lineaForm}">
                <label>Denominación corta: </label><input type="text" th:field="*{denCorta}" />
                <label>Denominación larga: </label><input type="text" th:field="*{denLarga}" />
                <input type="submit" value="Nueva línea" />
            </form>
        </div>
    </div>
</body>
</html>