<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estiloPaginas.css">
    <link rel="stylesheet" href="css/estiloInicio.css">
    <title>Aplicación del bus</title>
    <style>
    </style>
</head>

<body>
    <div class="supercontenedor">
        <div class="contenedor">
            <a href="/lineas">
                <div class="botonGrande">
                    Administrar líneas
                </div>
            </a>
            <a href="/paradas">
                <div class="botonGrande">
                    Administrar paradas
                </div>
            </a>
            <a href="/">
                <div class="boton">
                    Volver
                </div>
            </a>
        </div>
    </div>
</body>

</html>