<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación del bus</title>
</head>

<body>
    <table>
        <thead>
            <th>Denominación</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            <tr th:each="parada : ${listaParadas}">
                <td th:text="${parada.denominacion}"></td>
                <td>
                    <a th:href="@{/paradas/editar/{id}(id=${parada.idparada})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/paradas/eliminar/{id}(id=${parada.idparada})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="boton">
        <a href="/paradas/insertar">Insertar una nueva parada</a>
    </span>
</body>

</html>